@font-face {
  font-family: mate;
  src:         url(Mate-Regular.ttf);
}

html, body, .container {
  width:       100%;
  height:      100%;
  padding:     0;
  margin:      0;
  font-family: mate;
}

.container {
  background-image: linear-gradient(to right bottom, #fcaab9 10%, #cb1d3c 60%, #ffffff 50%);
  display:          inline-block;
}

.game-playground {
  background:    white;
  min-width:     200px;
  max-width:     700px;
  width:         100%;
  display:       block;

  border:        1px solid #5f5f5f;
  border-radius: 5px;
  padding:       15px;
  margin:        75px auto 0;
  box-shadow:    5px 10px 18px #5f5f5f;
}

#game {
  display: none;
  height:  500px;
}

#random-word-button {
  margin:  0 auto;
  display: block;
}

#resume-game-button {
  display: none;
}

.input-container, .result-container {
  height:  500px;
  width:   50%;
  margin:  0;
  padding: 0;
}

.input-container {
  float: left;
}

.result-container {
  max-height: 500px;
  overflow-y: scroll;
  float:      right;
}
